# CI Environment
dist: bionic

# Job Configurations
jobs:
  include:
    - language: python
      python: "3.9.6"
      addons:
        sonarcloud:
          organization: swsnu
          token:
            secure: "NBYOk1r3D+RhZIWFn85uRN8sVbaEP7jVTSGBXX7vqy3Y1gUGWbakWoOtgci/Z8J0ixdhLlZCG+6QOvjB15gGFU+TLaHMJGNf9t4sL2q2xU/sGjO+HxK0CvJXzRWNjM8rDpbK/dTJo93KY3yqVkTTjnBwNTUG09/SwBE3uDCjTxbekWlc75llh587p17quhHsJWjf+lAcSd5mAqsYVJ+IsrOY5adjpszyT8WcHRghwVpkGVjZ5cFVIRYiCqtSbW1WqkThgoBXj0q6ZKJSEgkM9Gye01OrNb25A1BVlTHJXNPQ8bGR3rIovLemkxtkLZWjJmq2PNevv+KqCscTRHKMEgjnF3Ly8klZraDIJ2jU8vPtoLI+aqCB97LdPWEB/yF+GRPlSDMt6BdislmiKACwjxtycWFYRoqqAbeY2kkHjm6CcKZvb+OekVwpetL7NG0nACBjeWdQUdUekATd4W3TAxkIwjJSCt6ur470WJkyskByC77QanYnMs+l+KvFgBOpgj+6iTIHTIqyGxLYYLY0wgbG7AOvfrE6jGxqdencHSdqpHjfkPe3YjkJPvUxTodRSyFKXHi+ktKlLQvJ4/KyVrfFvlTDAhRIfFeAR4vjgsUjU0SM2j6PUAZ5TfI8swryOljrl+uAluIfK5W9xl68w1DPDPibnRbJfEIHxDg16oU="
      install:
        - cd backend
        - curl -sSf --retry 5 -o python-3.9.6.tar.bz2 https://storage.googleapis.com/travis-ci-language-archives/python/binaries/ubuntu/18.04/x86_64/python-3.9.6.tar.bz2
        - sudo tar xjf python-3.9.6.tar.bz2 --directory /
        - source ~/virtualenv/python3.9.6/bin/activate
        - pip install -r requirements.txt
        - pip install coveralls
      script:
        - PYTHONPATH=${PWD} DJANGO_SETTINGS_MODULE=noti_manager.settings pylint **/*.py --load-plugins pylint_django
        - coverage run --source='.' manage.py test
        - coverage xml
        - coveralls
        - cd .. && sonar-scanner
    - language: node_js
      node_js: 14
      install:
        - cd frontend
        - yarn install
        - yarn global add coveralls
        - gem install coveralls-lcov
      script:
        - ./node_modules/.bin/eslint src
        - yarn test --coverage --watchAll=false
        - coveralls-lcov -v coverage/lcov.info
