.background {
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    background-image: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    top: 0px;
    outline: 0px;
    left: 0px;
    border-right: 1px dashed rgba(145, 158, 171, 0.24);
    width: 280px;
    background-color: rgb(249, 250, 251);
}

.sidebar {
    overflow-x: auto;
    height: 100%;
}

.noti {
    padding: 0px 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.top {
    color: rgb(32, 101, 209);
    text-decoration: none;
    align-items: center;
    padding: 16px 20px;
    border-radius: 9px;
    background-color: rgba(145, 158, 171, 0.12);
    font-weight: 600;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    color: rgb(33, 43, 54);
}

.menu {
    list-style: none;
    margin: 0px;
    position: relative;
    padding: 8px;
    margin-block: 50px;
}

.item {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    padding: 8px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    height: 48px;
    position: relative;
    text-transform: capitalize;
    color: rgb(99, 115, 129);
    border-radius: 6px;
}

.item.active {
    color: rgb(33, 43, 54);
    background-color: rgba(145, 158, 171, 0.16);
    font-weight: 700;
}

.item:hover {
    text-decoration: none;
}

.toggle {
    background-color: #ffffff;
    font-size: x-large;
    text-align: center;
    width: 100%
}

.logout {
    margin-top: 450px;
}