.Home {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 1fr;
}

.grid-column {
  width: 100%;
  height: 100%;
  width: auto;
}

.projects {
  height: 100vh;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 100%;
  color: rgb(33, 43, 54);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Public-Sans", sans-serif;
}

.upcoming {
  height: 62vh;
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
  max-width: 100%;
  color: rgb(33, 43, 54);
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Public-Sans", sans-serif;
}

.sentNotis {
  height: 35vh;
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 24px;
  max-width: 100%;
  color: rgb(33, 43, 54);
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Public-Sans", sans-serif;
}

.sublevel {
  background-color: rgb(255, 255, 255);
  height: 100%;
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  transition-property: box-shadow;
  border-radius: 4px;
  background-image: none;
  overflow: hidden;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  border-radius: 12px;
  position: relative;
  z-index: 0;
}

.project {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  height: 100vh;
}

.title {
  -webkit-box-align: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.titleNoti {
  -webkit-box-align: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}


.noti {
  float: left;
  padding-left: 24px;
  padding-top: 24px;
}

.recentThree {
  padding: 30px
}



.upcomingNoti {
  padding: 30px;
}
