.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.flex-item {
  width: 50%;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.projects {
  display: flex;
  padding-left: 24px;
  padding-top: 24px;
  flex-basis: 50%;
  -webkit-box-flex: 0;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  flex-grow: 0;
  max-width: 100%;
  box-sizing: inherit;
  flex-direction: column;
  color: rgb(33, 43, 54);
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Public-Sans", sans-serif;
}

.sublevel {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  transition-property: box-shadow;
  border-radius: 4px;
  background-image: none;
  overflow: hidden;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  border-radius: 12px;
  position: relative;
  z-index: 0;
}

.project {
  padding-top: 10px;
  padding-left: 24px;
  font-size: 16px;
}

.title {
  -webkit-box-align: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.title_noti {
  padding: 24px 24px 0px;
  margin-top: -48px;
}

.sentNotis {
  display: flex;
  padding-left: 24px;
  padding-top: 15px;
  flex-basis: 50%;
  -webkit-box-flex: 0;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  flex-grow: 0;
  max-width: 100%;
  box-sizing: inherit;
  flex-direction: column;
  color: rgb(33, 43, 54);
  line-height: 5;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Public-Sans", sans-serif;
}

.noti {
  float: left;
}

.recentThree {
  float: right;
  margin-right: 50px;
  margin-top: -80px;
}

.upcoming {
  display: flex;
  padding-left: 24px;
  padding-top: 24px;
  flex-basis: 50%;
  -webkit-box-flex: 0;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  flex-grow: 0;
  max-width: 100%;
  box-sizing: inherit;
  flex-direction: column;
  color: rgb(33, 43, 54);
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Public-Sans", sans-serif;
}

.upcomingNoti {
  float: right;
  padding: 30px;

  display: flex;
}
