
.table_upcoming {
    display: flex;
    -webkit-box-flex: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: inherit;
    flex-direction: column;
    color: rgb(33, 43, 54);
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Public-Sans", sans-serif;
    
    border-collapse: separate;
    border-spacing: 21px 22px;

    width: 550px;
}

.table_upcoming {
    border: 1px solid black;
    border-radius: 50px;
}

.titleText_upcoming {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.messageText_upcoming {
    height: 27px;
}